#barra{
    background-color: #263FE3;
    width: 100%;
    height: 20px;
}

#home {
    background-color: #263FE3;
    width: 100%;
    height: 600px;
    color: white;    
}




@media only screen and (max-width:20000px){

    }   
@media only screen and (max-width:600px){
    #Iphone3d{
        display: none;
    }  
    
}   